<div>Add User::Show template here</div>
<div id="<%= dom_id @user %>">
  <p>
    <strong>Email:</strong>
    <%= link_to @user.email, user_path(@user) %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= image_tag(@user.avatar.url) if @user.avatar %>
  </p>

</div>
