<div>Add User::Show template here</div>
<div id="<%= dom_id @user %>">
  <p>
    <strong>Emailllllllllllll:</strong>
    <%= @user.email%>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= image_tag(@user.avatar.attachment.url, class: "bg-red") if @user.avatar %>
  </p>

</div>
